<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h3>Upload JSON Dataset</h3>
            <form (ngSubmit)="goToDashboard()">
                <div class="form-group">
                    <input type="file" (change)="upload($event)" accept=".json">
                </div>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         [style.width]="(uploadProgress | async) + '%'" 
                         [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" 
                         aria-valuemax="100">
                        </div>
                </div>
                <br><br>

                <h3>Upload CSV Dataset</h3>
                <div class="form-group">
                    <input type="file" (change)="uploadCSV($event)" accept=".csv">
                </div>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         [style.width]="(uploadProgress | async) + '%'" 
                         [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" 
                         aria-valuemax="100">
                        </div>
                </div>
                <br><br>

                <h3>Upload XML Dataset</h3>
                <div class="form-group">
                    <input type="file" (change)="openFile($event)" accept=".xml" id="xmlUpload">
                </div>
                <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                         [style.width]="(uploadProgress | async) + '%'" 
                         [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" 
                         aria-valuemax="100">
                        </div>
                </div>
                <br><br>

                <div class="form-group">
                    <button class="btn btn-primary">Go to Dashboard</button>
                </div>
            </form>
        </div>
    </div>
</div>