<div class="jumbotron text-center">
    <h1>User Dashboard</h1> 
    <p>Rate the Items Below</p> 
</div>

<div>
  <button class="btn btn-primary" type="button" (click) = "updateDashboard()" style='margin-right:16px'>Click to Update Dashboard</button>
  <button class="btn btn-primary" type="button" (click) = "goBackToFileUpload()" style='margin-right:16px'>Upload New Data</button>
  <button class="btn btn-primary" type="button" (click) = "updateRatings()" style='margin-right:16px'>Update and Save Ratings</button>
</div>

<br><br>

<div>
  <p>Select X-Axis Data Label</p>
  <select id="xaxis" name="xaxis" [(ngModel)]="xaxis">
    <option *ngFor="let header of headers" [value]="header.id">
      {{header.name}}
    </option>
  </select>
  
  <p>Select Y-Axis Data Label</p>
  <select id="yaxis" name="yaxis" [(ngModel)]="yaxis">
    <option *ngFor="let header of headers" [value]="header.id">
      {{header.name}}
    </option>
  </select>

</div>

  <div id="datarep1">
    <div [className]='classValue[0]'>
      <canvas id="chart1"></canvas>
      <ngb-rating [(rate)]="currentRate1" id="rating1"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate1}}</b></pre>
      <br><br>
    </div>
  </div>

  <div id="datarep2">
    <div [className]='classValue[1]'>
      <canvas id="chart2"></canvas><br><br>
      <ngb-rating [(rate)]="currentRate2"  id="rating2"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate2}}</b></pre>
      <br><br>
  </div>
  </div>

  <div id="datarep3">
    <div [className]='classValue[2]'>
      <canvas id="chart3"></canvas><br><br>
      <ngb-rating [(rate)]="currentRate3"  id="rating3"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate3}}</b></pre>
      <br><br>
  </div>
  </div>

  <div id="datarep4">
    <div [className]='classValue[3]'>
      <canvas id="chart4"></canvas><br><br>
      <ngb-rating [(rate)]="currentRate4"  id="rating4"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate4}}</b></pre>
      <br><br>
  </div>
  </div>


<div id="datarep5">
  <div [className]='classValue[4]'>
    <canvas id="chart5"></canvas><br><br>
    <ngb-rating [(rate)]="currentRate5"  id="rating5"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate5}}</b></pre>
    <br><br>
</div>  
</div> 

<div id="datarep6">
  <div [className]='classValue[5]'>
    <canvas id="chart6"></canvas><br><br>  
    <ngb-rating [(rate)]="currentRate6"  id="rating6"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate6}}</b></pre>
    <br><br>
  </div>
</div>
  
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button class="btn btn-primary" type="button" (click) = "scrollToTop()" style='margin-right:16px'>Scroll to Top</button>
</div>