<div class="jumbotron text-center">
    <h1>User Dashboard</h1> 
    <p>Rate the Items Below</p> 
</div>

<div *ngIf="users" class="row">
    <div *ngFor = "let user of users.data" class="column">
      <div class="card">
        <p>{{ user.first_name}} {{ user.last_name }}</p>
      </div>
    </div>
</div>
<div class="chart-container" style="position: relative; height:20vh; width:20">

  <div>
    <pre>
      {{ dataList | json }}
    </pre>
    <button class="btn btn-primary" type="button" (click) = "getDataList()">Get Data List</button>
  </div>

  <canvas id="lineChart"></canvas>
  <canvas id="barChart" ></canvas>
  <canvas id="pieChart"></canvas>  
</div>
